{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/MartinMalyMM/filabel-testrepo2/pulls?per_page=100&base=pr110&state=all"}, "response": {"body": {"encoding": "utf-8", "string": "[]"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["200 OK"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4936"], "X-RateLimit-Reset": ["1542553338"], "ETag": ["\"122ef6e773faeb67a95cfe91dfb9370d\""], "X-OAuth-Scopes": ["admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, gist, notifications, repo, user, write:discussion"], "X-Accepted-OAuth-Scopes": [""], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/MartinMalyMM/filabel-testrepo2/pulls?per_page=100&base=pr110&state=all"}, "recorded_at": "2018-11-18T14:17:21"}], "recorded_with": "betamax/0.8.1"}