{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/MartinMalyMM/filabel-testrepo2/issues/99/labels"}, "response": {"body": {"encoding": "utf-8", "string": "[]"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["200 OK"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4998"], "X-RateLimit-Reset": ["1542564317"], "ETag": ["\"122ef6e773faeb67a95cfe91dfb9370d\""], "Last-Modified": ["Sat, 17 Nov 2018 12:23:16 GMT"], "X-OAuth-Scopes": ["admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, gist, notifications, repo, user, write:discussion"], "X-Accepted-OAuth-Scopes": ["repo"], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/MartinMalyMM/filabel-testrepo2/issues/99/labels"}, "recorded_at": "2018-11-18T17:05:18"}], "recorded_with": "betamax/0.8.1"}