{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/MartinMalyMM/filabel-testrepo4/pulls/1/files?per_page=100"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"sha\":\"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391\",\"filename\":\"aaaa\",\"status\":\"added\",\"additions\":0,\"deletions\":0,\"changes\":0,\"blob_url\":\"https://github.com/MartinMalyMM/filabel-testrepo4/blob/18348f75391409a1a3e8831c58c12dc77ac1b71d/aaaa\",\"raw_url\":\"https://github.com/MartinMalyMM/filabel-testrepo4/raw/18348f75391409a1a3e8831c58c12dc77ac1b71d/aaaa\",\"contents_url\":\"https://api.github.com/repos/MartinMalyMM/filabel-testrepo4/contents/aaaa?ref=18348f75391409a1a3e8831c58c12dc77ac1b71d\"}]"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["200 OK"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4967"], "X-RateLimit-Reset": ["1542560596"], "ETag": ["\"028f29aa5e5683cc2e2d8f6ba50b2017\""], "Last-Modified": ["Sat, 17 Nov 2018 12:23:16 GMT"], "X-OAuth-Scopes": ["admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, gist, notifications, repo, user, write:discussion"], "X-Accepted-OAuth-Scopes": [""], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/MartinMalyMM/filabel-testrepo4/pulls/1/files?per_page=100"}, "recorded_at": "2018-11-18T16:25:46"}], "recorded_with": "betamax/0.8.1"}