{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/MartinMalyMM/filabel-testrepo1/pulls/1/files?per_page=100"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"sha\":\"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391\",\"filename\":\"aaaa\",\"status\":\"added\",\"additions\":0,\"deletions\":0,\"changes\":0,\"blob_url\":\"https://github.com/MartinMalyMM/filabel-testrepo1/blob/bcc4e54cb5ccf65329c9831d962585fe8515a859/aaaa\",\"raw_url\":\"https://github.com/MartinMalyMM/filabel-testrepo1/raw/bcc4e54cb5ccf65329c9831d962585fe8515a859/aaaa\",\"contents_url\":\"https://api.github.com/repos/MartinMalyMM/filabel-testrepo1/contents/aaaa?ref=bcc4e54cb5ccf65329c9831d962585fe8515a859\"},{\"sha\":\"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391\",\"filename\":\"bbbb\",\"status\":\"added\",\"additions\":0,\"deletions\":0,\"changes\":0,\"blob_url\":\"https://github.com/MartinMalyMM/filabel-testrepo1/blob/bcc4e54cb5ccf65329c9831d962585fe8515a859/bbbb\",\"raw_url\":\"https://github.com/MartinMalyMM/filabel-testrepo1/raw/bcc4e54cb5ccf65329c9831d962585fe8515a859/bbbb\"[...]
