{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/MartinMalyMM/filabel-testrepo2/pulls/1/files?per_page=100"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"sha\":\"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391\",\"filename\":\"radioactive\",\"status\":\"added\",\"additions\":0,\"deletions\":0,\"changes\":0,\"blob_url\":\"https://github.com/MartinMalyMM/filabel-testrepo2/blob/f7b377a2a0a3e376e6f0bd2ec6303866e91af21e/radioactive\",\"raw_url\":\"https://github.com/MartinMalyMM/filabel-testrepo2/raw/f7b377a2a0a3e376e6f0bd2ec6303866e91af21e/radioactive\",\"contents_url\":\"https://api.github.com/repos/MartinMalyMM/filabel-testrepo2/contents/radioactive?ref=f7b377a2a0a3e376e6f0bd2ec6303866e91af21e\"},{\"sha\":\"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391\",\"filename\":\"waste\",\"status\":\"added\",\"additions\":0,\"deletions\":0,\"changes\":0,\"blob_url\":\"https://github.com/MartinMalyMM/filabel-testrepo2/blob/f7b377a2a0a3e376e6f0bd2ec6303866e91af21e/waste\",\"raw_url\":\"https://github.com/MartinMalyMM/filabel-testrepo2/raw/f7b377a2a0a3e376e6f0bd2ec6303866e91af21e/waste\",\"contents_url\":\"https://api.github.com/repos/MartinMalyMM/filabel-testrepo2/contents/waste?ref=f7b377a2a0a3e376e6f0bd2ec6303866e91af21e\"}]"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["200 OK"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4971"], "X-RateLimit-Reset": ["1542560596"], "ETag": ["\"72426406dc5a35b59ce325c1624a14a7\""], "Last-Modified": ["Sat, 17 Nov 2018 12:23:16 GMT"], "X-OAuth-Scopes": ["admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, gist, notifications, repo, user, write:discussion"], "X-Accepted-OAuth-Scopes": [""], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/MartinMalyMM/filabel-testrepo2/pulls/1/files?per_page=100"}, "recorded_at": "2018-11-18T16:25:43"}], "recorded_with": "betamax/0.8.1"}