{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/user"}, "response": {"body": {"encoding": "utf-8", "string": "{\"login\":\"MartinMalyMM\",\"id\":43811338,\"node_id\":\"MDQ6VXNlcjQzODExMzM4\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/43811338?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/MartinMalyMM\",\"html_url\":\"https://github.com/MartinMalyMM\",\"followers_url\":\"https://api.github.com/users/MartinMalyMM/followers\",\"following_url\":\"https://api.github.com/users/MartinMalyMM/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/MartinMalyMM/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/MartinMalyMM/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/MartinMalyMM/subscriptions\",\"organizations_url\":\"https://api.github.com/users/MartinMalyMM/orgs\",\"repos_url\":\"https://api.github.com/users/MartinMalyMM/repos\",\"events_url\":\"https://api.github.com/users/MartinMalyMM/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/MartinMalyMM/received_events\",\"type\":\"User\",\"site_admin\":false,\"name\":null,\"company\":null,\"blog\":\"\",\"location\":null,\"email\":null,\"hireable\":null,\"bio\":null,\"public_repos\":6,\"public_gists\":0,\"followers\":0,\"following\":0,\"created_at\":\"2018-10-03T10:22:02Z\",\"updated_at\":\"2018-11-19T08:57:37Z\",\"private_gists\":0,\"total_private_repos\":2,\"owned_private_repos\":2,\"disk_usage\":380,\"collaborators\":3,\"two_factor_authentication\":false,\"plan\":{\"name\":\"developer\",\"space\":976562499,\"collaborators\":0,\"private_repos\":9999}}"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["200 OK"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4957"], "X-RateLimit-Reset": ["1542670513"], "ETag": ["\"f235f1dda76554dcb0b15b0f575422e8\""], "Last-Modified": ["Mon, 19 Nov 2018 08:57:37 GMT"], "X-OAuth-Scopes": ["admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, gist, notifications, repo, user, write:discussion"], "X-Accepted-OAuth-Scopes": [""], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/user"}, "recorded_at": "2018-11-19T22:36:26"}], "recorded_with": "betamax/0.8.1"}