{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/MartinMalyMM/filabel-testrepo1/pulls/2/files?per_page=100"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"sha\":\"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391\",\"filename\":\"file1\",\"status\":\"added\",\"additions\":0,\"deletions\":0,\"changes\":0,\"blob_url\":\"https://github.com/MartinMalyMM/filabel-testrepo1/blob/3db556e96fbd0138ae160c6f0c76069db6cf9e39/file1\",\"raw_url\":\"https://github.com/MartinMalyMM/filabel-testrepo1/raw/3db556e96fbd0138ae160c6f0c76069db6cf9e39/file1\",\"contents_url\":\"https://api.github.com/repos/MartinMalyMM/filabel-testrepo1/contents/file1?ref=3db556e96fbd0138ae160c6f0c76069db6cf9e39\"},{\"sha\":\"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391\",\"filename\":\"file10\",\"status\":\"added\",\"additions\":0,\"deletions\":0,\"changes\":0,\"blob_url\":\"https://github.com/MartinMalyMM/filabel-testrepo1/blob/3db556e96fbd0138ae160c6f0c76069db6cf9e39/file10\",\"raw_url\":\"https://github.com/MartinMalyMM/filabel-testrepo1/raw/3db556e96fbd0138ae160c6f0c76069db6cf9e39/f[...]
{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/MartinMalyMM/filabel-testrepo1/pulls/2/files?per_page=100&page=2"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"sha\":\"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391\",\"filename\":\"file19\",\"status\":\"added\",\"additions\":0,\"deletions\":0,\"changes\":0,\"blob_url\":\"https://github.com/MartinMalyMM/filabel-testrepo1/blob/3[...]
[...]
