body {
    background: #bfff80;
    font-family: Arial;
    }
    
h1 {
    font-weight: bold;
    color: #006600;
    border-bottom:1px solid #006600;
    float:left;
    width:100%;    
    }
    

    


p.gr {color: blue;}
